<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fashion Recommendation System</title>
    <!-- base:css -->
    <link rel="stylesheet"
          href="../../static/adminResourses/css/materialdesignicons.min.css">
    <link rel="stylesheet"
          href="../../static/adminResourses/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../static/adminResourses/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../static/adminResourses/images/3.png"/>
</head>

<body class="sidebar-light">
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->R̥

    {% include 'user/header.html' %}


    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        {% include 'user/menu.html' %}
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="card">
                    <div class="row">
                        <div class="col-lg-12" style="color: #6a008a">
                            <h1 class="text-center m-2"
                                style="font-size: 3rem">Fashion Recommendation
                                System</h1>
                        </div>
                        <div class="col-md-4"
                             style="margin-left: auto; margin-right: auto">
                            <img src="../../static/adminResourses/images/0001.png"
                                 alt="sample" class="rounded mw-100">
                        </div>
                        <div class="col-lg-12">
                            <br>
                            <p class="text-justify pr-3">
                                The goal of this project is to provide
                                personalized product recommendations based on
                                user-uploaded images,
                                rather than relying on their purchase history.
                                The conventional recommendation systems fail to
                                cater to
                                users' immediate needs and preferences, as
                                users are often inspired by something they see
                                and wish to find
                                similar products. To overcome this limitation,
                                this project uses neural networks to process
                                the input images
                                from a pre-built Images Dataset and then
                                employs a nearest neighbour-based recommender
                                to generate the final
                                recommendations. This approach enables the
                                system to provide highly relevant and
                                personalized
                                recommendations to the user, matching their
                                preferences and style. By utilizing
                                state-of-the-art deep
                                learning techniques, this project has the
                                potential to revolutionize the way we shop and
                                make product
                                recommendations more effective and efficient.
                            </p>
                            <br>
                            <p class="text-justify pr-3">
                                The purpose of this project is to develop a
                                recommender system that caters specifically to
                                the fashion
                                industry, leveraging the tendency of humans to
                                be visually drawn towards attractive clothing
                                products. With
                                the advent of recommender systems in various
                                domains, it has become imperative for retail
                                industries to
                                invest in the latest technology to enhance
                                their business. Fashion has been an integral
                                part of society for
                                centuries and continues to be so in modern
                                times. Women, in particular, have a vast
                                product base to choose
                                from, making it challenging to make informed
                                decisions. Clothing and fashion have become a
                                crucial aspect of
                                modern-day living, with people often being
                                judged based on their attire. The proposed
                                recommender system
                                aims to assist apparel providers in offering
                                their customers a seamless shopping experience
                                by enabling them
                                to explore their entire product line and choose
                                the products that best align with their
                                personal style and
                                preferences.
                            </p>
                            <br>
                            <p class="text-justify pr-3">
                                The objective of this project is to develop a
                                robust and efficient recommender system for the
                                fashion
                                industry that leverages image-based
                                recommendations, instead of relying solely on a
                                user's previous
                                purchases or browsing history. The project aims
                                to overcome the limitations of conventional
                                recommendation
                                systems and assist users, particularly women,
                                in making informed decisions when it comes to
                                their clothing
                                choices. The proposed system will use deep
                                learning techniques to analyse user-uploaded
                                images and generate
                                personalized recommendations that match their
                                individual style and preferences. The system
                                will also provide
                                availability information for the recommended
                                products and alternative options within the
                                same
                                infrastructure. By enhancing the shopping
                                experience for customers, the project aims to
                                increase customer
                                satisfaction, engagement, and retention for
                                apparel providers. Overall, the objective of
                                the project is to
                                revolutionize the way we shop for clothing
                                products and make product recommendations more
                                accurate,
                                efficient, and personalized.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->

            {% include 'user/footer.html' %}

            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- base:js -->
<script src="../../static/adminResourses/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="../../static/adminResourses/js/off-canvas.js"></script>
<script src="../../static/adminResourses/js/hoverable-collapse.js"></script>
<script src="../../static/adminResourses/js/template.js"></script>
<script src="../../static/adminResourses/js/settings.js"></script>
<script src="../../static/adminResourses/js/todolist.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<script src="../../static/adminResourses/js/jquery.validate.min.js"></script>
<script src="../../static/adminResourses/js/bootstrap-maxlength.min.js"></script>
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script src="../../static/adminResourses/js/form-validation.js"></script>
<script src="../../static/adminResourses/js/bt-maxLength.js"></script>
<!-- End custom js for this page-->
</body>

</html>