<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

        <li class="nav-item">
            <a class="nav-link" href="/admin_index">
                <i class="mdi mdi-cards-variant menu-icon"></i>
                <span class="menu-title">Home</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/viewUsers">
                <i class="mdi mdi-account-multiple menu-icon"></i>
                <span class="menu-title">Manage User</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/view-user">
                <i class="mdi mdi-history menu-icon"></i>
                <span class="menu-title">Manage History</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="mdi mdi-logout menu-icon"></i>
                <span class="menu-title">Logout</span>
            </a>
        </li>

    </ul>
</nav>
